<div class="container">
  <h3 class="my-5">About</h3>
  <div class="card" style="width: 400px">
    <img
      class="card-img-top"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbzc6_vYTv33xE6tqypGJHY2rBWkwB60EImQ&usqp=CAU"
      alt="Card image"
    />
    <div class="card-body">
      <h4 class="card-title">John Snow</h4>
      <p class="card-text">
        quia et suscipit suscipit recusandae consequuntur expedita et cum
        reprehenderit molestiae ut ut quas totam nostrum rerum est autem sunt
        rem eveniet architecto.
      </p>
    </div>
  </div>
</div>
