<div class="container">
  <div class="card my-4" *ngFor="let blog of blogs">
    <div class="card-header">
      {{ blog.blogTitle }}
      <span
        style="cursor: pointer; float: right; padding-left: 10px"
        (click)="handleBlogDelete(blog.id)"
      >
        delete</span
      >
      <span
        style="cursor: pointer; float: right"
        (click)="handleBlogEdit(blog.id)"
        >edit |
      </span>
    </div>
    <div class="card-body">{{ blog.blogBody }}</div>
  </div>
  <div *ngIf="blogs.length === 0">Please add blogs</div>
</div>
